@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

$default-font-size: 1.6rem;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: "Comfortaa", cursive;
  font-size: $default-font-size;

  @include respond(tab-port) {
    padding: 0;
  }
}

.left {
  margin-left: auto !important;
}

.nav-text {
  font-family: "Cedarville Cursive", cursive;
  font-size: 3.5rem;
}

.showcase {
  background: linear-gradient(
    90deg,
    rgba(4, 2, 46, 1) 0%,
    rgba(1, 28, 33, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  &__welcome {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    &-main {
      margin-top: 14.6rem;
      margin-bottom: 2rem;
      font-size: 3rem;
      font-weight: 600;
      text-shadow: 6px 2px 2px rgb(85, 85, 85);
    }

    &-secondary {
      font-size: $default-font-size;
      font-weight: 500;
      letter-spacing: 0.3rem;
    }
  }
}

.navbar-toggler-icon {
  width: 3rem !important;
}

.carousel-text {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
  font-weight: 900;
  text-shadow: 3px 2px 2px rgb(138, 136, 136);
  margin: 4rem;
}

.carousel-section {
  background-color: #dadada98;
}

.videos {
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.vid-iframe {
  width: 560px;
  height: 429px;

  @include respond(phone) {
    width: 100%;
    height: 200px;
  }
}

.card-body {
  align-items: center;
  text-align: center;
}

i {
  margin: 3rem;
}

.icon-phn {
  color: rgb(138, 218, 138);
}
.fb {
  margin-bottom: 2rem !important;
}

a {
  text-decoration: none;
}

.footer {
  &-box {
    background-color: black;
    color: white;
    height: 13rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

// svg signature
#signature {
  stroke-dasharray: 818;
  stroke-dashoffset: 818;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 720px !important;
  }
}
